
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:object th:replace="base :: bt"></th:object>
</head>
<body>
    <div th:replace="base :: menu"></div>

    <div class="container">
        <h2 class="text-center mb-4 text-primary">Đăng nhập</h2>
        
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Tên đăng nhập hoặc mật khẩu không đúng.
        </div>
        
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            Bạn đã đăng xuất thành công.
        </div>

        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Tên đăng nhập</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-grid gap-2">
                <button  class="btn btn-primary">Đăng nhập</button>
            </div>
        </form>
    </div>

    <div th:replace="base :: footer"></div>
</body>
</html>

